body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  border-style: solid;
  border-bottom-color: black;
  border-width: 0px;
  border-bottom-width: 5px;
  padding-bottom: 10px;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  text-decoration: underline;
  color: orange;
}

a:visited {
  color: purple;
}
