body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
main {
  padding-bottom: 8vh;
}

h1 {
  border-style: solid;
  border-bottom-color: black;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

a:hover {
  text-decoration: underline;
  color: orange;
}
[id="anchor"]::before {
  content: "";
  display: block;
  height: 11vh;
  margin-top: -11vh;
  visibility: hidden;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
