body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
main {
  padding-bottom: 5vh;
}

h1 {
  border-style: solid;
  border-bottom-color: black;
  border-width: 0px;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0, 0.4);
}
a:visited {
  color: rgb(0, 0, 0);
}

[id="anchor"]::before {
  content: "";
  display: block;
  height: 9vh;
  margin-top: -9vh;
  visibility: hidden;
}

@media screen and (min-height: 1100px) {
  [id="anchor"]::before {
    height: 7vh;
    margin-top: -7vh;
  }
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}
